@tailwind utilities;

body {
  --bg: #f5f5f5;
  --lightBg: #fcfcfc;
  --textNormal: #181818;
  --textTitle: #181818;
  --textLogo: #33AEF4;
  --textLink: #33AEF4;
  --hr: hsla(0, 20%, 1%, 0.2);
  --imageBorder : var(var(--textLink));

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #080E24;
  --lightBg: #1c2e4a;
  --textNormal: #e6e6e6;
  --textTitle: #fff;
  --textLogo: #fff;
  --textLink: #6bdaff;
  --hr: hsla(0, 0%, 100%, 0.2);
  --imageBorder : var(var(--textLink));
}

a.gatsby-resp-image-link {
  color: var(--bg);
  transition: ease 200ms all;
}
a.gatsby-resp-image-link:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: var(--textTitle);
}

.section,
.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6,
blockquote {
  font-family: 'Inter';
}


.footnotes {
  word-break: break-all;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  outline: 0;
}
.sidebar {
  height: 200px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--lightBg);
}

.main-content {
  background-color: var(--bg);
  position: absolute;
  top: 200px;
  z-index: 10;
  padding: 0 20px 0;
  margin-left: 0;
}



@media only screen and (min-width: 768px) {
  .sidebar {
    height: 100vh;
    width: 380px;
  }
  .main-content {
    height: 100vh;
    width: 100%;
    top: 0;
  }
}
